* {
    font-family: 'Manrope', sans-serif;
    margin: 0%;
    color: whitesmoke;
}

body {
    height: 100vh;
}

main{
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgb(26, 46, 39);
}

.barraLateral{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: rgb(35, 40, 38);
    flex-direction: column;
    color: whitesmoke;
}

.header-container{
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logoSuperiorEsquerdo{
    height: 8vh;
    width: auto;
    margin-left: 2px;
}

.nomeLogo-container{
    height: 5vh;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.separador{
    height: 0.2vh;
    width: 18vw;
    background-color: rgb(79, 82, 80);
}

.menus-container{
    height: 8vh;
    width: 20vw;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.4s;
}

.menus-container:hover{
    background-color: rgb(79, 82, 80);
    cursor: pointer;
}

.iconMenus{
    height: 4vh;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.conteudoPrincipalTarefas {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.titulo-container{
    margin-top: 4vh;
    margin-left: 4vw;
}

.novaTarefa-container{
    background-color: rgb(35, 40, 38);
    margin-left: 4vw;
    margin-top: 6vh;
    width: 72vw;
    height: 35vh;
    border-radius: 10px;
}

.divisaoNovaTarefaCima {
    width: 72vw;
    height: 5vh;
}
.divisaoNovaTarefaBaixo{
    width: 72vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
}

.digitaTitulo{
    width: 36vw;
    height: 20vh;
}

.digitaDescricao{
    width: 36vw;
    height: 20vh;
}

.caixaDeTexto{
    width: 30vw;
    height: 8vh;
    margin-left: 4vh;
    margin-top: 1vh;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: rgb(35, 40, 38);
    font-size: 10px;
    padding-left: 8px;
}

.posicionaBotaoAdicionar {
    width: 72vw;
    height: 8vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.botaoAdicionar {
    width: 8vw;
    height: 6vh;
    background-color: rgb(106, 207, 157);
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 2vw;
    margin-bottom: 2vh;
    transition: 0.4s;
}

.botaoAdicionar:hover {
    cursor: pointer;
    background-color: rgb(172, 242, 215);
}

.tarefasCriadas {
    width: 72vw;
    height: 8vh;
    background-color: rgb(35, 40, 38);
    margin-left: 4vw;
    margin-top: 4vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.tarefasCriadas-checkbox{
    width: 4vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarefasCriadas-tituloDescricao{
    width: 60vw;
    height: 8vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.tarefasCriadas-edit{
    width: 4vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}

.tarefasCriadas-edit:hover{
    background-color: rgb(79, 82, 80);
    border-radius: 10px; 
    cursor: pointer;
}

.tarefasCriadas-delete{
    width: 4vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarefasCriadas-delete:hover{
    background-color: rgb(79, 82, 80);
    border-radius: 10px; 
    cursor: pointer;
}