* {
    font-family: 'Manrope', sans-serif;
    margin: 0%;
}

main{
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgb(26, 46, 39);
}

.barraLateral{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: rgb(35, 40, 38);
    flex-direction: column;
}

.menus-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vh;
    color: white;
    font-size: 10px;
}

.menus-container-dadosUsurio{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.conteudoPrincipalTarefas {
    width: 80vw;
    height: 100vw;
}