/* Seletor de todos os elementos */
*{
    margin: 0%;
}

/* Seletor de elemento */
h3 {
    color: red;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}

/* Utilizando Seletores de Classes */
.texto {
    /* Altera a cor do texto */
    color: red;
    /* Altera o tamnho do textp */
    font-size: xx-large;
    /* ALtera a posição do texto horizontalmente */
    text-align: center;
    /* Altera o peso do texto (negrito, itálico) */
    font-weight: bold   ;
    /* Define a fonte do texto */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Altera a decoração do texto */
    text-decoration: underline;
}

/* Seletor de ID */
#texto {
    color: peru;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Atributos de Espaçamento - ESTOU USANDO NO FOOTER */
.box {
    /* Define a largura - vw */
    /* vw = tamanho da tela em largura */
    width: 400px;
    /* Define a altura - vh */
    /* vh = tamanho da tela em altura */
    height: 100px;
    /* Define o espaçamento externo - margem */
    margin: 15px 15px 15px 15px;
    /* Define o espaço interno - padding */
    padding: 10px;
    /* Define a borda do conteúdo */
    border: 5px solid;
}

/* section {
    display: flex;
    flex-direction: row;
} */

.position {
    /* A forma de posicionamento */
    display: flex;
    /* Posicionar verticalmente */
    align-items: center;
    /* Posicionar de forma horizontal */
    justify-content: center;
}

.position2 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

body {
    background-color: rgb(192, 192, 192);
    color: black;
    /* Altera a imagem de fundo do elemento */
    background-image: url(https://wallpapers.com/images/hd/cool-hd-logo-in-game-of-thrones-qhdelrxg3d2ftb1a.jpg);
    /* Define a quantidade de repetições da imagem */
    background-repeat: no-repeat;
    /* Define o posicionamento da imagem */
    /* background-position: top; */
    /* Define o tamanho da imagem */
    background-size: contain; /* pode ser escrito em px também, exemplo  */
    background-size: cover;

}

.visuais {
    background-color: red;
    /* Opacidade do elemento */
    opacity: 50%;
    color: white;
    /* adiciona sombra sendo - Y, X, BLUR, SPREAND */
    box-shadow: -10px 5px 10px 10px;
    /* Arredonda o elemento */
    border-radius: 100%;
    /* trasnforma o elemento - rotacionar */
    transform: rotate(1turn);
    /* Adiciona uma transição */
    transition: width 2.5s 2.5s, transform 5s;
}

.visuais:hover {
    width: 500px;
    height: 200px;
    background-color: blue;
    transform: rotate(10turn);
    border-radius: 100%;
}

.cursor {
    /* Coloca o scroll no elemento */
    overflow: scroll;
}